QWidget#containerTopLevel
{
    background-color: white;
}

QPushButton, QToolBox::tab
{
    color: rgb(255, 255, 255);
    border-style: none;
}

QPushButton:pressed, QPushButton:focus
{
    outline:none;
}

.emailWidget
{
    background-color: white;
}

.emailWidget:hover, .attachmentWidget:hover
{
    background-color: #29b6f6;
}

.emailWidget[selected="true"]
{
    color: white;
    background-color: #2979ff;
}

.emailWidget[selected="true"] QWidget
{
    color: white;
}

.attachmentWidget, .contactWidget
{
    background-color: #4fc3f7;
}

.attachmentWidget[selected="true"]
{
    color: white;
    background-color: #2979ff;
}

.contactWidget:hover
{
    background-color: #29b6f6;
}

.contactWidget[selected="true"]
{
    color: white;
    background-color: #2979ff;
}

.normalButton
{
    background-color: #4fc3f7;
}

.normalButton:hover:!checked
{
    background-color: #29b6f6;
}

.normalButton:disabled
{
    background-color: #e0e0e0;
    color: white;
}

.normalButton:disabled::icon
{
    color: white;
}

.normalButton:checked
{
    color: white;
    background-color: #2979ff;
    outline:none;
}

.warningButton
{
    background-color: #f06292;
}

.warningButton:hover:!checked
{
    background-color: #ec407a;
}

.menuWidget
{
    background-color: #4fc3f7;
}

.container1
{
    background-color:white;
}

.container2
{
    background-color: #eeeeee;
}
